body {
    margin: 0;
    padding: 0;
    background-image: url('bg.jpg');
    background-size: cover;
    font-family: Arial, sans-serif;
    color: purple;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    background-color: purple(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px orange(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgb(204, 68, 15);
    border: none;
    border-radius: 5px;
    color: blue;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

.completed {
    text-decoration: line-through;
}